<main class="main-content">
    <section class="hero-section">
        <div class="hero-content">
            
            <div class="text-content">
                <h2 class="hero-title">Bienvenido al Sitio Oficial del FC Barcelona</h2>
                <p class="hero-description">Aquí encontrarás las últimas noticias, información sobre los jugadores, la historia del club y mucho más.</p>
            </div>
        </div>
    </section>
    <section class="latest-news">
        <h2>Últimas Noticias</h2>
        <ul class="news-list">
            <li><a href="https://www.fcbarcelona.es/es/">El FC Barcelona gana el último partido de la liga</a></li>
            <li><a href="https://www.fcbarcelona.es/es/">Lionel Messi marca un hat-trick en la victoria contra el Real Madrid</a></li>
            <li><a href="https://www.fcbarcelona.es/es/">El club anuncia la renovación del estadio Camp Nou</a></li>
        </ul>
    </section>
    <img src="../../../assets/images/fc_barcelona_image.jpg" alt="FC Barcelona" class="hero-image">
</main>
